body {
  background: black;
  font-family: "MedodicaRegular";
}

pre {
  font-family: "MedodicaRegular";
}

/* full screen overlay */
.screen-transition {
  position: fixed;
  inset: 0;
  background: black;
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
}

@font-face {
  font-family: "MedodicaRegular";
  src: url(fonts/MedodicaRegular.otf);
}

/* fade in */
.screen-transition.active {
  animation: fadeToBlack 1s ease forwards;
}

/* flare effect */


@keyframes fadeToBlack {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in-on-load {
  animation: fadeInPage 1s ease;
}

@keyframes fadeInPage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.godashboardstart {
  position: absolute;

  top: 40%;
  left: 50%;
  width: 575px;
  transform: translate(-50%, -50%);
}
.godashboardstart:active {
  content: url("clickable/clicked/CLICKEDgodashboard.png")
}

.gogame {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 110px;
  transform: translate(-50%, -50%);
  image-rendering: pixelated;
}
.gogame:active {
  content: url("clickable/clicked/CLICKEDgogame.png")
}

.gostartdashboard {
  position: absolute;
  top: 33.4%;
  left: 33.4%;
  height: 242px;
  transform: translate(-50%, -50%);
  image-rendering: pixelated;
}
.gostartdashboard:active {
  content: url("clickable/clicked/CLICKEDgostartbanner.png")
}

.goguide {
  position: absolute;
  top: 33.4%;
  left: 66.7%;
  height: 242px;
  transform: translate(-50%, -50%);
  image-rendering: pixelated;
}
.goguide:active {
  content: url("clickable/clicked/CLICKEDgoguide.png")
}

.godashboardguide {
  position: absolute;
  top: 70%;
  left: 25%;
  height: 125px;
  transform: translate(-50%, -50%);
  image-rendering: pixelated;
}
.godashboardguide:active {
  content: url("clickable/clicked/CLICKEDhome.png")
}

.left {
  position: absolute;
  top: 70%;
  left: 35%;
  height: 125px;
  transform: translate(-50%, -50%);
  image-rendering: pixelated;
}
.left:active {
  content: url("clickable/clicked/CLICKEDleft.png")
}

.right {
  position: absolute;
  top: 70%;
  left: 45%;
  height: 125px;
  transform: translate(-50%, -50%);
  image-rendering: pixelated;
}
.right:active {
  content: url("clickable/clicked/CLICKEDright.png")
}

.GuideText {
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 30px;
  transform: translate(-50%, -50%);
  image-rendering: pixelated;
}

.gostartgame {
  position: absolute;
  top: 50%;
  left: 65%;
  width: 300px;
  transform: translate(-50%, -50%);
  image-rendering: pixelated;
}
.gostartgame:active {
  content: url("clickable/clicked/CLICKEDgostartdirt.png")
}


.reset {
  position: absolute;
  top: 85%;
  left: 72%;
  width: 300px;
  transform: translate(-50%, -50%);
  image-rendering: pixelated;
}
.reset:active {
  content: url("clickable/clicked/CLICKEDreset.png")
}

.square {
  left: 500px;
  top: 8px;
  width: 100px;
  height: 100px;
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  overflow: hidden;
  image-rendering: pixelated;
}

.xo-img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: contain;
  pointer-events: none;
  image-rendering: pixelated;
}

.sq0 { left:345px; top:570px;}
.sq1 { left:462px; top:570px;}
.sq2 { left:580px; top:570px;}
.sq3 { left:345px; top:690px;}
.sq4 { left:462px; top:690px;}
.sq5 { left:580px; top:690px;}
.sq6 { left:345px; top:810px;}
.sq7 { left:462px; top:810px;}
.sq8 { left:580px; top:810px;}

.next-player {
  position: absolute;
  top: 73%;
  left: 70.6%;
  width: 100px;
  transform: translate(-50%, -50%);
  image-rendering: pixelated;
}

.next-img {
  position: absolute;
  top: 75%;
  left: 70.6%;
  width: 100px;
  transform: translate(-50%, -50%);
  image-rendering: pixelated;
}

.credits {
  position: absolute;
  top: 875px;
  left: 150px;
  width: 700px;
  transform: translate(-50%, -50%);
  image-rendering: pixelated;
}
.credits:active {
  content: url("clickable/clicked/CLICKEDcredits.png")
}

.creditsbox {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1300px;
  transform: translate(-50%, -50%);
  z-index: 2;
  image-rendering: pixelated;
}

.creditstext {
  position: absolute;
  z-index: 3;
  top: 375px;
  left: 325px;
  font-size: 30px;
}

.creditsclose {
  position: absolute;
  top: 0%;
  left: 25%;
  width: 100px;
  transform: translate(-100%, -125%);
  z-index: 2;
  image-rendering: pixelated;
}
.creditsclose:active {
  content: url("clickable/clicked/CLICKEDback.png")
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}

.volume {
  position: absolute;
  top: 875px;
  left: 400px;
  width: 700px;
  transform: translate(-50%, -50%);
  image-rendering: pixelated;
  z-index: -1;
}

.accessability {
  position: absolute;
  top: 875px;
  left: 966px;
  width: 700px;
  transform: translate(-50%, -50%);
  image-rendering: pixelated;
}
.accessability:active {
  content: url("clickable/clicked/CLICKEDaccessability.png")
}

.accessabilitybox {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1300px;
  transform: translate(-50%, -50%);
  z-index: 2;
  image-rendering: pixelated;
}

.accessabilityclose {
  position: absolute;
  top: 290px;
  left: 340px;
  width: 100px;
  transform: translate(-50%, -50%);
  z-index: 2;
  image-rendering: pixelated;
}
.accessabilityclose:active {
  content: url("clickable/clicked/CLICKEDback.png")
}


.accessabilitytext {
  position: absolute;
  z-index: 3;
  top: 375px;
  left: 325px;
  font-size: 40px;
}

.settings {
  position: absolute;
  top: 875px;
  left: 1216px;
  width: 360px;
  transform: translate(-50%, -50%);
  image-rendering: pixelated;
}
.settings:active {
  content: url("clickable/clicked/CLICKEDsettings.png")
}


.settingsclose {
  position: absolute;
  top: 290px;
  left: 340px;
  width: 100px;
  transform: translate(-50%, -50%);
  z-index: 2;
  image-rendering: pixelated;
}
.settingsclose:active {
  content: url("clickable/clicked/CLICKEDback.png")
}

.settingsbox {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1300px;
  transform: translate(-50%, -50%);
  z-index: 2;
  image-rendering: pixelated;
}

.settingstext {
  position: absolute;
  z-index: 3;
  top: 375px;
  left: 325px;
  font-size: 40px;
}






