body {
  background: black;
}

/* full screen overlay */
.screen-transition {
  position: fixed;
  inset: 0;
  background: black;
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
}

/* fade in */
.screen-transition.active {
  animation: fadeToBlack 1s ease forwards;
}

/* flare effect */


@keyframes fadeToBlack {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in-on-load {
  animation: fadeInPage 1s ease;
}

@keyframes fadeInPage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}